html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.custom-image-size {
  min-width: 140px;
  min-height: 140px;
  max-height: 140px;
  max-width: 140px;
}

.custom-card-width {
  width: 75%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.custom-image-ts {
  min-width: 150px; 
  min-height: 150px;
  max-height: 150px; 
  max-width: 150px;
}

.card-ts {
  min-width: 250px; 
  min-height: 250px;
  max-height: 250px; 
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadreTeam {
  border: #ff0000
  solid 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #000000;
}

.material-tooltip-main {
  min-height: 50px;
  max-height: 50px;
  min-width: 70px;
  max-width: 70px;
}
.material-tooltip-main1 {
  min-height: 50px;
  max-height: 50px;
  min-width: 90px;
  max-width: 120px;
}


.App {
  font-family: Arial, sans-serif;
  background-image: url("https://media.hitekno.com/thumbs/2022/01/08/24240-patung-madara-uchiha-dan-hokage-ke-1/730x480-img-24240-patung-madara-uchiha-dan-hokage-ke-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  color: #ffffff; 
}


header {
  background-color: #ff4500;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 10px #000000;

}

h1 {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  color: #ff0000; 
}


section.monster-section {
  background-color: #ff4500; 
  padding: 40px 20px;
}

button:hover {
  background-color: #ff6347;
}


.card {
  background-color: #ca8d30 !important; /* Jaune pâle */
  color: #000000; /* Noir pour le texte */
  margin-bottom: 10px;
  padding: 5px;
  height: 340px !important;;
}


.card img {
  width: 100%;
  border-radius: 5px;
}

.ft {
  background-color: #ff4500 !important; 
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}

.title {
max-width: 200px;
margin: 0 auto;
}

.inutile {
  margin-top: 100px;
  min-height: 100%;
}

.teamchoice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fond sombre pour l'image */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assurez-vous que le z-index est suffisamment élevé pour être au-dessus du reste du contenu */
}

.fullscreen-modal img {
  max-width: 100%;
  max-height: 100%;
}

